.shrug {
    font-size: 190px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    user-select: none;
}

.notFound { 
    margin-top: -190px;
    font-size: 40px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}
