footer {
    background: black;
    margin-top: 0.6em;
    display: inline-block;
    width: 100%;
    height: 43px;
}

footer p {
    margin: 0.1em;
    padding: 0;
    font-size: 1em;

    color: white;
    letter-spacing: 0.8px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}
#top{
    margin-bottom: -0.5em;
}

.fa {
    margin-right: 0.24em;
    font-size: 1.5em;
    color: white;
    user-select: none;
}

.fa:hover {
    color: #82e8e5;
}
