.container {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    bottom: 5%;
}

fieldset {
    font-size: 18px;
    letter-spacing: 0.4px;
    font-family: "Source Sans Pro", sans-serif;

    border: none;
    text-align: center;
}

h2 {
    border-bottom: 1px solid grey;
    padding: 4px;
    font-size: 19px;
}

p {
    margin: 4px;
}

input {
    border: none;
    outline: none;
    width: 250px;

    box-sizing: border-box;
    font: inherit;
    font-family: inherit;
    line-height: 1.43;
    font-size: 18px;
    height: auto;
    padding-left: 12px;
}
.input {
    height: 50px;
    border: 2px solid black;
}
.fa{
    margin-top: 9px;
    font-size: 30px;
}
.fa-lock{
    margin-right: 6px;
    margin-left: 6px;
}

.error {
    color: #960909;
}

button {
    background-color: black;
    border: none;

    padding: 13px 118px;
    font-size: 17px;
    cursor: pointer;  

    color: white;
    font-size: 20px;
}
