div {
    font-size: 18px;
    letter-spacing: 0.4px;
    font-family: "Source Sans Pro", sans-serif;
}

.columns {
    display: flex;
    justify-content: space-between;
}

img {
    float: left;
    max-width: 222px;
    height: auto;
    border: 2px solid black;
    border-radius: 0.2em;
    margin: -0.28em;
    margin-right: 1%;
}

.game-wrapper {
    display: flex;
    padding: 0.2em 0.2em;
    border: 2.5px solid black;
    border-radius: 0.2em;
    margin-top: 0.3em;
    margin-right: 13%;
    margin-left: 13%;

    position: relative;
}

.game-info {
    width: 100%;
}

.summary{
    overflow: hidden;
}

h2 {
    font-size: 33px;
}

span {
    font-weight: normal;
    letter-spacing: 0.23px;
}

.tags {
    font-weight: bold;
    width: 30%;
}

.game-container h2 {
    padding: 0.3em 0 0.2em;
    margin: 0;
}

.bot {
    color: white;
    background-color: black;

    position: absolute;
    bottom: -1px;
    left: 222px;
    right: -1px;

    padding-left: 1em;
    padding-bottom: 0.5em;
}

.add {
    position: absolute;
    right: -1px;
    bottom: 32.3px;
}
.add span {
    font-weight: bold;
    border: solid white;
    padding: 1em 1em 1em 1em;
    border-radius: 0.4em;
    margin: 0.5em;
}
.add span:hover {
    background-color: #ededed;
    color: black;
    cursor: pointer;
    user-select: none;
}

.yourScore {
    padding: 1em 1em 1em 1em;
    font-weight: bold;
    position: absolute;
    left: 190px;
    bottom: -11px;
}
.yourScore p {
    padding-right: 0.5em;
}
.yourScore select {
    padding-left: 1em;
    position: absolute;
    bottom: 34px;
    left: 26px;
}
.yourScore span {
    border: solid white;
    font-weight: bold;
    padding: 1em 1em 1em 1em;
    border-radius: 0.4em;
    margin: 0.7em;
    margin-bottom: 0.2em;
}
.yourScore span:hover {
    background-color: #ededed;
    color: black;
    cursor: pointer;
    user-select: none;
}

.avgScoreTop {
    font-weight: bold;
    margin-bottom: 0.4em;
}
.avgScoreBot {
    margin-left: 2em;
    margin-top: 0em;
    margin-bottom: 0em;

    font-size: 24px;
}