<div class="bigWrapper" *ngIf="games">
    <div *ngFor="let game of games" class="game-container">
        <div class="game-wrapper">

            <h2>{{game.title}}</h2>

            <div class="columns">
                <p class="tags">Tags: <span>{{game.tags.join(", ")}}</span></p>
                <div>
                    <p class="avgScoreTop"> Avg. Score:</p>
                    <p class="avgScoreBottom">{{getAverageScore(game)}}</p>
                </div>
            </div>

            <img src={{game.imageUrl}} alt="going hollow...">

            <div class="summary-container">
                <p class="summaryTitle">Summary</p>
                <p class="summary">{{game.description}}</p>
            </div>


            <div class="add">
                <span (click)="removeThisGame(game._id)">Remove Game</span>
                <span (click)="scoreThisGame(game._id, score.value)">Update Score:</span>
                <select #score name="score" id="score">
                    <option *ngIf="userScore(game)===0" value="None" selected>None</option>
                    <option *ngIf="userScore(game)!==0" value="None">None</option>

                    <option *ngIf="userScore(game)===1" value="1" selected>1</option>
                    <option *ngIf="userScore(game)!==1" value="1">1</option>

                    <option *ngIf="userScore(game)===2" value="2" selected>2</option>
                    <option *ngIf="userScore(game)!==2" value="2">2</option>

                    <option *ngIf="userScore(game)===3" value="3" selected>3</option>
                    <option *ngIf="userScore(game)!==3" value="3">3</option>

                    <option *ngIf="userScore(game)===4" value="4" selected>4</option>
                    <option *ngIf="userScore(game)!==4" value="4">4</option>

                    <option *ngIf="userScore(game)===5" value="5" selected>5</option>
                    <option *ngIf="userScore(game)!==5" value="5">5</option>

                    <option *ngIf="userScore(game)===6" value="6" selected>6</option>
                    <option *ngIf="userScore(game)!==6" value="6">6</option>

                    <option *ngIf="userScore(game)===7" value="7" selected>7</option>
                    <option *ngIf="userScore(game)!==7" value="7">7</option>

                    <option *ngIf="userScore(game)===8" value="8" selected>8</option>
                    <option *ngIf="userScore(game)!==8" value="8">8</option>

                    <option *ngIf="userScore(game)===9" value="9" selected>9</option>
                    <option *ngIf="userScore(game)!==9" value="9">9</option>

                    <option *ngIf="userScore(game)===10" value="10" selected>10</option>
                    <option *ngIf="userScore(game)!==10" value="10">10</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!games">Loading...</div>