<header>
    <div class="mini-navbar-wrap">
        <img src="../../../assets/siteLogo.png" height="80" width="auto" class="logo">
        <div class="mini-navbar">
            <ul>
                <li>
                    Login
                </li>
                <li>
                    Register
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                All Games
            </li>
            <li>
                Plan to Play
            </li>
            <li>
                Finished Games
            </li>
        </ul>
    </nav>
</header>