<header>
    <div class="mini-navbar-wrap">
        <img src="../../../assets/siteLogo.png" height="80" width="auto" class="logo">
        <div class="mini-navbar">
            <ul>
                <li routerLink="/login">
                    Login
                </li>
                <li routerLink="/register">
                    Register
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li routerLink="/all-games" routerLinkActive="active">
                All Games
            </li>
            <li routerLink="/plan-to-play" routerLinkActive="active">
                Plan to Play
            </li>
            <li routerLink="/finished-games" routerLinkActive="active">
                Finished Games
            </li>
        </ul>
    </nav>
</header>