<header>
    <div class="mini-navbar-wrap">
        <img src="../../../assets/siteLogo.png" height="80" width="auto" class="logo">
        <div class="mini-navbar">
            <ul>
                <li *ngIf="!isLogged" routerLink="/login">
                    Login
                </li>
                <li *ngIf="!isLogged" routerLink="/register">
                    Register
                </li>

                <span *ngIf="isLogged">Welcome,</span>
                <li *ngIf="isLogged" routerLink="/profile">
                    {{email}}
                </li>
                <li *ngIf="isLogged" (click)="logout()">
                    Logout
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li routerLink="/all-games" routerLinkActive="active">
                All Games
            </li>
            <li *ngIf="isLogged" routerLink="/plan-to-play" routerLinkActive="active">
                Plan to Play
            </li>
            <li *ngIf="isLogged" routerLink="/finished-games" routerLinkActive="active">
                Finished Games
            </li>
        </ul>
    </nav>
</header>